*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:#0b1f3a;
    color:#ffffff;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px 10%;
    background:#08152b;
    position:sticky;
    top:0;
}

.navbar ul{
    list-style:none;
    display:flex;
    gap:30px;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-weight:500;
}

.logo{
    font-size:24px;
    font-weight:700;
    color:#4db5ff;
}

/* HERO */
.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h2{
    font-size:48px;
    margin-bottom:10px;
}

.hero p{
    margin-bottom:20px;
    color:#bcd6ff;
}

.btn{
    background:#4db5ff;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:6px;
    transition:0.3s;
}

.btn:hover{
    background:#2e8dd8;
}

/* SECTIONS */
.section{
    padding:80px 10%;
    text-align:center;
}

.section h2{
    margin-bottom:30px;
    font-size:32px;
}

/* PROJECTS */
.projects-container{
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
}

.project-card{
    background:#08152b;
    padding:25px;
    border-radius:10px;
    width:300px;
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-8px);
}

.project-card a{
    display:inline-block;
    margin-top:15px;
    color:#4db5ff;
    text-decoration:none;
}

/* CONTACT */
.contact p{
    margin:8px 0;
}

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    background:#08152b;
    margin-top:50px;
}