body {
  font-family: Arial;
  margin: 0;
  background: #f4f6f8;
}

/* HEADER */
header {
  background: #4CAF50;
  color: white;
  text-align: center;
  padding: 30px;
}

/* SECTIONS */
section {
  padding: 40px;
  text-align: center;
}

h2 {
  color: #333;
}

/* SKILLS */
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px;
}

/* PROJECT CARDS */
.project-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background: white;
  padding: 20px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

/* CONTACT BUTTONS */
.contact-buttons {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background: #388E3C;
}

/* FOOTER */
footer {
  background: #333;
  color: white;
  padding: 15px;
}